@{
    ViewBag.Title = "About | Baseball Ipsum";
}

<h2>About</h2>

<p>Baseball Ipsum was created by <a href="https://twitter.com/mgroves">Matthew D. Groves</a>, who is a Reds fan in Columbus, Ohio.</p>

<p>Pull requests are always welcome on <a href="https://github.com/mgroves/Baseball-Ipsum">Github</a>, even if it's just the addition of a few more baseball words.</p>

<p>This site, especially the design, is pretty much inspired by and knocked-off of <a href="http://baconipsum.com">Bacon Ipsum</a>, which is a great
tool that always makes me hungry.</p>