@{
    ViewBag.Title = "Json API | Baseball Ipsum";
}

<p>Looking for a REST API? There isn't one, yet.  Do you want one?  <a href="https://github.com/mgroves/Baseball-Ipsum/issues/1">Leave a comment here on Github</a>. </p>